parameters:
	ignoreErrors:
		-
			message: '#^Offset ''app_id'' on array\{app_id\: string, app_key\?\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/WebSocket/Pusher/Server.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/TestCase/WebSocket/Pusher/Event/EventDispatcherTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/TestCase/WebSocket/Pusher/Http/Controller/EventsControllerTest.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: tests/TestCase/WebSocket/Pusher/ServerTest.php
