includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: unset.possiblyHookedProperty
        -
            identifier: attribute.notFound
            path: tests/*
            message: '#AllowMockObjectsWithoutExpectations#'
            reportUnmatched: false

services:
