includes:
    - phpstan-baseline.neon
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 6
    bootstrapFiles:
        - tests/bootstrap.php
    cakeDC:
        appNamespace: Crustum\Blazecast
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: unset.possiblyHookedProperty
        -
            identifier: attribute.notFound
            path: tests/*
            message: '#AllowMockObjectsWithoutExpectations#'
            reportUnmatched: false

services:
